.puzzle-entry .cell[data-coop-text-playerId="player-0"] {
    color: red;
}

.puzzle-entry .cell[data-coop-text-playerId="player-1"] {
    color: orange;
}

.puzzle-entry .cell[data-coop-text-playerId="player-2"] {
    color: blue;
}

.puzzle-entry .cell[data-coop-text-playerId="player-3"] {
    color: green;
}

.puzzle-entry .cell[data-coop-text-playerId="player-4"] {
    color: yellow;
}

.puzzle-entry .cell[data-coop-text-playerId="player-5"] {
    color: purple;
}

.puzzle-entry .cell[data-coop-text-playerId="player-6"] {
    color: magenta;
}

.puzzle-entry .cell[data-coop-text-playerId="player-7"] {
    color: aqua;
}
