.container {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 8px;
}
.container > * {
  grid-column: 2;
}

.container > ul {
  grid-column: 1;
}

.hello {
  grid-column: 1;
}

.thread {
  grid-column-start: 1;
  grid-column-end: -1;
}
